p {
    line-height: 2rem;
  }
  body {
      background:linear-gradient(to right,#009688,#00BCD4) ;
    }

.container{
  margin-left:auto;
  margin-right:auto;
}

.icon-block{
  margin-right:auto;
  margin-left:auto;
  max-width: 100%;
  border-radius:25px;
  padding:5px;
  background-color:white;

}
.tip{
  width:75%;
  height: 100px;

}

.responsive-img{
  padding:2px;
  border-radius: 10px;
  margin-left:auto;
  margin-right:auto;

}
  .filler-1{
    width: 100%;
    height: 51px;
  }
  .filler-2{
    width:100%;
    height: 40px;
  }
tip{
  width:100%;
  height: 100%;
}


  .section-3{
      padding-top:25px;
      margin-left:auto;
      margin-right:auto;
      border-radius: 25px;
      width:98%;
      height:500px;
      background-color:rgb(194, 225, 253);

  }
  


  
 
  
  @media only screen and (max-width : 992px) {
    .section-3{
        margin-left:auto;
        margin-right:auto;
        border-radius: 25px;
        width:98%;
        height:700px;
        background-color:rgb(194, 225, 253);
  
    }
    .responsive-img{
      border-radius: 10px;
      margin-left:auto;
      margin-right:auto;
    
    }
   .icon-block{
    
     margin-top:10px;
     }
   }
  
  
  @media only screen and (max-width : 600px) {
    .section-3{
        margin-left:auto;
        margin-right:auto;
        border-radius: 25px;
        width:98%;
        height:100%;
        background-color:rgb(194, 225, 253);
  
    }
  .icon-block{
      margin:10px;
  }
  .responsive-img{
    border-radius: 25px;
    margin-left:auto;
    margin-right:auto;
  
  }
    
  }
  

