p {
    line-height: 2rem;
  }
  body {
      background:linear-gradient(to right,#5fe88e,#5469c2) ;
    }
/*   
    .log-in{
    border-radius: 25px;
    height: 250px;
    background:white;
} */
.container{
  margin-left:auto;
  margin-right:auto;
}
.icon-block{
  margin-right:auto;
  margin-left:auto;
  max-width: 100%;
  border-radius:25px;
  padding:5px;
  background-color:white;
  border: 2px solid rgb(82, 78, 85);
}
.responsive-img{
  border-radius: 25px;
  margin-left:auto;
  margin-right:auto;

}

 

  .LPcard{
    text-align: center;
    width:auto;
    height: 150px;
   
  }
  
  .card-pic{
    background-color:blue;
    text-align: center;
    width: 200px;
    height: 200px;
  }
  .card-content{
    padding:5px;
  
  }
  .LPcard{
    width:25%px;
    border-radius: 25px;
  }

  .section-3{
      margin-left:auto;
      margin-right:auto;
      border-radius: 25px;
      width:98%;
      height:400px;
      background-color:white;

  }
  


  
 
  
  @media only screen and (max-width : 992px) {
    .section-3{
        margin-left:auto;
        margin-right:auto;
        border-radius: 25px;
        width:98%;
        height:700px;
        background-color:white;
  
    }
    .responsive-img{
      border-radius: 25px;
      margin-left:auto;
      margin-right:auto;
    
    }
  }
  
  @media only screen and (max-width : 600px) {
    .section-3{
        margin-left:auto;
        margin-right:auto;
        border-radius: 25px;
        width:98%;
        height:100%;
        background-color:white;
  
    }
  .icon-block{
      margin:10px;
  }
  .responsive-img{
    border-radius: 25px;
    margin-left:auto;
    margin-right:auto;
  
  }
    
  }
  

