#sidebar {
	height: 550px;
	border: 1px solid #222;
}

#main {
	color: #222;
	height: 550px;
	border: 1px solid #222;
	background-color: #E9967A;
}

#actionForm {
	margin-top: 10px;
	height: 95%;
	width: 95%;
	background-color: #DCDCDC;

}

.formSelect {
	display: inline-block;
	margin: 0px 1px;
}

.selectRow {
	margin: 0px;
}

#sideTitle {
	margin: 4px;
}

.formPut {
	margin-top: 30px;
	margin-bottom: 0px;
}