/*Detailed Container*/
#DetailedContainer{
	display: flex;
  flex-wrap: wrap;
}

#sideContainer {
	flex: 0;
}

/*Main*/
#sidebar {
	height: 390px;
	width: 300px;
	border: 1px solid #222;
	margin-left: 60px;
	margin-top: 20px;
}

#sidebarSelect {
	margin: 5px 
}

/*Form Select toggles styles of sidebar buttons*/
.formSelect {
	display: inline-block;
	margin: 0px 8px;
	cursor: pointer;
}

.formSelectActive {
	display: inline-block;
	margin: 0px 8px;
	color: #009688;
	border-bottom: solid 2px #009688;
	cursor: pointer;
}

#sideForm {
	margin: 0 auto;
	width: 94%;
}

.sideSubmit {
	margin-top: 15px;
	width: 100%;
}


/*Main*/
#main {
	color: #222;
	height: 2000px;
	max-width: 800px;
	min-width: 800px;
	border: 1px solid #222;
	display: inline-block;
	margin: 20px 30px;
	overflow: none;
	flex: 1
}

