#sidebar {
	height: 300px;
	width: 300px;
	border: 1px solid #222;
	display: inline-block;
	position: fixed;
}

#main {
	color: #222;
	height: 2000px;
	width: 600px;
	border: 1px solid #222;
	background-color: #E9967A;
	display: inline-block;
	margin-left: 500px;
}

#actionForm {
	margin-top: 10px;
	height: 95%;
	width: 95%;
	background-color: #DCDCDC;
}

.formSelect {
	display: inline-block;
	margin: 0px 1px;
}

.selectRow {
	margin: 0px;
}

#sideTitle {
	margin: 4px;
}

.formPut {
	margin-top: 30px;
	margin-bottom: 0px;
}